.eachjob-item {
  width: 90%;
  background-color: #272727;
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  color: #ffffff;
}

.company-logo {
  width: 60px;
  margin-right: 20px;
}

.logo-rating-container {
  display: flex;
  align-items: center;
}

.title-rating {
  display: flex;
  flex-direction: column;
}

.star-rating {
  display: flex;
  align-items: center;
}

.package {
  color: #ffffff;
}

.star-image {
  color: #fbbf24;
  margin-right: 5px;
}

.location-jobtype {
  display: flex;
  justify-content: space-between;
}

.location-job {
  margin-left: 5px;
  margin-right: 20px;
}

.location-container {
  display: flex;
  align-items: center;
}

.job-description {
  color: #ffffff;
}
